**/data/**
books/
**/manning_project/datasets/**
**/e-ViL/data
**/__pycache__/**
**/.ipynb_checkpoints/**
**/my_model/**
**/my-model/**
**/datasets/**
**/output_dir/**
**/tmp_trainer/**
**/my_model
**/my_model2
**/my_model2/**
**/my-model2/**
**/my_train_db/**
**/my_test_db/**
**/my_dev_db/**
**/my_img_db/**
**/lxmert/data/**
